<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Khoa's Online Resume", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
        	  
          
                    <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              	Projects
              	<b class="caret"></b>
              </a>
              	              <ul class="dropdown-menu">
                <li><%= link_to "C++", '#' %></li>
                                  
             
                 
                  <%= link_to "Graphics1", '#' %>
                  
                     <%= link_to "Graphics2", '#' %>
              
            <li class="divider">
                <li><%= link_to "Java", '#' %></li>
                
                      </li>
                <li>
                  <%= link_to "Fandora", '#' %>
                </li>
                    <li class="divider"> </li>
                <li> <%= link_to "Ruby on Rails", '/create' %></li>
                
 					<%= link_to "Rails 1", '#' %>
              </ul>
              	<li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              	About Khoa
              	<b class="caret"></b> </a>
              	<ul class="dropdown-menu">
          <li><%= link_to "About Khoa", '/about' %></li>
          <li><%= link_to "Contact Info", '/contact' %></li>
          
           </ul>
          <% if signed_in? %>
            
              <li><%= link_to "Upload an Offer", '/about' %></li>
            <li id="fat-menu" class="dropdown">
            	<li><%= link_to "Set Up an Interview",'/create' %></li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Logged in as <%=   current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li> <%= link_to "Schedule an Interview", '/create' %></li>
                <li> <%= link_to "View all Appointments", '/index' %>  
                
                   
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
          <li><%= link_to "Set an Interview", signin_path %></li>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>